<link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap" rel="stylesheet">


<div class="header" fxLayout="column" fxLayoutAlign="start start">
  <h1 style="margin-bottom: 10px">Make A Payment</h1>
  <h2>Determine Amount</h2>
</div>
<div class="bar-line" fxLayout="center center"></div>

<div class="body-payment" fxLayout="column">
  <div class="container-checkbox" fxLayoutAlign="start center">
    <mat-radio-button color="primary"> Pay on Account</mat-radio-button>
  </div>
  <div class="container-data" fxLayoutAlign="space-between center" fxLayout="row">
    <div class="box-contain" fxLayout="column">
      <h5 style="margin: 5px 0px 26px 0px;">ACCOUNT NUMBER</h5>
      <span fxLayout="row" class="format-box-contain">
        <div >
          <mat-icon>monetization_on</mat-icon>
        </div>
        <div>
          <span class="drk-gry-text" style="padding: 3px 8px 3px 8px; position: absolute">{{this.data.acctNumber}}</span>
        </div>
      </span>
    </div>
    <div class="box-contain" fxLayout="column">
      <h5 style="margin: 0px 0px 30px 0px;">TERM DATES</h5>
      <span class="format-box-contain drk-gry-text">{{this.data.balNum}}</span>
    </div>

    <div class="box-contain" fxLayout="column">
      <h5 style="margin: 0px 0px 30px 0px">BALANCE</h5>
      <span class="format-box-contain drk-gry-text">{{this.data.balNum | currency}}</span>
    </div>

    <div class="box-contain" fxLayout="column">
      <h5 style="margin: 0px 0px 30px 0px">AMOUNT DUE</h5>
      <span class="format-box-contain drk-gry-text">{{this.data.balNum | currency}}</span>
    </div>

    <div class="box-contain" style="width: auto !important;" fxLayout="column">
      <h5 style="margin: 10px 0px 20px 0px;">PAYMENT AMOUNT</h5>
      <span class="field-format-small">
        <form >
          <mat-form-field appearance="outline">
            <mat-label class="drk-gry-text">{{this.data.balNum | currency}}</mat-label>
            <input matInput placeholder="Enter Number Here">
          </mat-form-field>
        </form>
    </span>
      <!--      <span class="drk-gry-text">{{this.data.balNum | currency}}</span>-->
    </div>
  </div>


<!--  <div class="container-data" fxLayout="row" fxLayoutAlign="space-between center">-->

<!--  </div>-->

  <div class="container-checkbox" fxLayoutAlign="start center">
    <mat-radio-button color="primary">Pay on Individual Policies</mat-radio-button>
  </div>
  <div class="container-data" style="border-bottom: solid 1px gray" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="box-contain" fxLayout="column">
      <h5 style="margin: 5px 0px 26px 0px;">POLICY NUMBER&nbsp;&nbsp;&nbsp;</h5>
      <span fxLayout="row" class="format-box-contain">
        <div >
          <mat-icon style="padding-bottom: 5px">directions_car</mat-icon>
        </div>
        <div>
          <span class="drk-gry-text" style="padding: 3px 8px 3px 8px; position: absolute">{{this.data.acctNumber}}</span>
        </div>
      </span>
    </div>
    <div class="box-contain" fxLayout="column">
      <h5 style="margin: 0px 0px 30px 0px;">TERM DATES</h5>
      <span class="format-box-contain drk-gry-text">{{this.data.balNum | currency}}</span>
    </div>

    <div class="box-contain" fxLayout="column">
      <h5 style="margin: 0px 0px 30px 0px">BALANCE</h5>
      <span class="format-box-contain drk-gry-text">{{this.data.balNum | currency}}</span>
    </div>

    <div class="box-contain" fxLayout="column">
      <h5 style="margin: 0px 0px 30px 0px">AMOUNT DUE</h5>
      <span class="format-box-contain drk-gry-text">{{this.data.balNum | currency}}</span>
    </div>

    <div class="box-contain" style="width: auto !important;" fxLayout="column">
      <h5 style="margin: 10px 0px 20px 0px;">PAYMENT AMOUNT</h5>
      <span class="field-format-small">
        <form >
          <mat-form-field appearance="outline">
            <mat-label class="drk-gry-text">{{this.data.balNum | currency}}</mat-label>
            <input matInput placeholder="Enter Number Here">
          </mat-form-field>
        </form>
    </span>
      <!--      <span class="drk-gry-text">{{this.data.balNum | currency}}</span>-->
    </div>
  </div>
  <div class="bar-line-2"></div>


  <div class="total-pay" fxLayoutAlign="end center" fxLayout="row">
    <h2>Total Payment</h2>
    <span class="drk-gry-text" style="padding-left: 148px; padding-right: 20px">
      {{this.data.balNum | currency}}
    </span>
  </div>

  <div class="total-pay" fxLayoutAlign="start" fxLayout="column">
    <h2>Enter Payment Information</h2><br>
    <h4>All required fields must be filled out with valid information.</h4>
  </div>

  <div class="container-checkbox-2" fxLayoutAlign="start center">
    <span>Enter Payment Method</span>
  </div>
  <ng-template #altStyle>
    <div class="container-data-2" fxLayout="row" fxLayoutAlign="start center">
      <div class="col-card" fxLayout="column" >
        <mat-form-field appearance="outline" style="padding-top: 17px; width: 200px">
          <mat-label class="drk-gry-text">Payment Method</mat-label>
          <mat-select class="drop-down" [(value)]="this.data.selected">
            <mat-option>None</mat-option>
            <mat-option value="Credit Card">Credit Card</mat-option>
            <mat-option value="PayPal">Paypal</mat-option>
            <mat-option value="Debit">Debit</mat-option>
          </mat-select>
        </mat-form-field>

        <div id="card-number" style="padding-top: 10px;">
          <form>
            <mat-form-field style="width: 420px"appearance="outline">
              <mat-label class="drk-gry-text">Credit Card Number</mat-label>
              <input matInput [(ngModel)]="this.data.cardNum" name="Card Number" placeholder="Enter Number Here">
            </mat-form-field>
          </form>
        </div>

        <div id="exp-time" fxLayout="row">
          <form style="padding-right: 10px">
            <mat-form-field appearance="outline">
              <mat-label class="drk-gry-text">Exp. Month</mat-label>
              <input [(ngModel)]="this.data.expMonth" name="Exp. Month" matInput placeholder="Enter Number Here">
            </mat-form-field>
          </form>

          <form>
            <mat-form-field appearance="outline">
              <mat-label class="drk-gry-text">Exp. Year</mat-label>
              <input matInput [(ngModel)]="this.data.expYear" name="Exp. Year" placeholder="Enter Number Here">
            </mat-form-field>
          </form>
        </div>

      </div>
      <div class="col-card" fxLayout="column">
<!--        <span class="card-verify">-->
<!--          <label class="drk-gry-text" >{{this.data.selected}}</label>-->
<!--          <span id="image-container">-->

<!--          </span>-->
<!--        </span>-->
        <div style="padding-top: 15px" fxLayout="row">
          <form>
            <mat-form-field appearance="outline">
              <mat-label class="drk-gry-text">{{this.data.selected}}</mat-label>
              <input matInput placeholder="Ex: 345">
            </mat-form-field>
          </form>

          <span class="single-image-container" fxLayout="row">
            <img class="single-card" src="/assets/Visa.png">
            <img class="single-card" src="/assets/American-Express.png">
            <img class="single-card" src="/assets/Mastercard.png">
          </span>
        </div>

        <div style="padding-top: 7px" fxLayout="row">
          <form>
            <mat-form-field appearance="outline">
              <mat-label class="drk-gry-text">Verification</mat-label>
              <input matInput [(ngModel)]="this.data.verfNum" name="Verify Code" placeholder="Ex: 345">
            </mat-form-field>
          </form>

          <span class="single-image-container" fxLayout="row">
<!--            Image Here-->
            <img class="single-card" src="/assets/Visa.png">
            <img class="single-card" src="/assets/American-Express.png">
            <img class="single-card" src="/assets/Mastercard.png">
          </span>
        </div>
        <div style="visibility: hidden">
          <form>
            <mat-form-field appearance="outline">
              <mat-label class="drk-gry-text">Verification</mat-label>
              <input matInput placeholder="Ex: 345">
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>

    <div class="container-checkbox-2" fxLayoutAlign="start center" style="margin-top: 60px">
      <span>Enter Payer Information</span>
    </div>

    <div class="container-data-2 drk-gry-text" fxLayout="row" fxLayoutAlign="start center">
      <div class="col-2-info" fxLayout="column" >
        <mat-form-field appearance="outline" style="padding-top: 17px; width: 420px">
          <mat-label class="drk-gry-text">First Name</mat-label>
          <input matInput [(ngModel)]="this.data.firstName" name="First Name" placeholder="Ex: John Doe">
        </mat-form-field>

        <div class="field-format" style="padding-top: 10px;">
          <form>
            <mat-form-field appearance="outline">
              <mat-label class="drk-gry-text">Address</mat-label>
              <input matInput [(ngModel)]="this.data.address" name="Address" placeholder="Enter Number Here">
            </mat-form-field>
          </form>
        </div>

        <div class="field-format">
        <form>
          <mat-form-field appearance="outline">
            <mat-label class="drk-gry-text">City</mat-label>
            <input [(ngModel)]="this.data.city" name="City" matInput placeholder="Ex: Salt Lake City">
          </mat-form-field>
        </form>
      </div>

        <div class="field-format">
          <form>
            <mat-form-field appearance="outline">
              <mat-label class="drk-gry-text">Phone</mat-label>
              <input [(ngModel)]="this.data.phone" name="Phone" matInput placeholder="Ex: 1-999-999-9999">
            </mat-form-field>
          </form>
        </div>

      </div>
      <div class="col-2-info" fxLayout="column" >
        <mat-form-field appearance="outline" style="padding-top: 17px; width: 420px">
          <mat-label class="drk-gry-text">Last Name</mat-label>
          <input matInput [(ngModel)]="this.data.lastName" name="Last Name" placeholder="Ex: John Doe">
        </mat-form-field>

        <div class="field-format" style="padding-top: 10px;">
          <form>
            <mat-form-field appearance="outline">
              <mat-label class="drk-gry-text">Address 2</mat-label>
              <input matInput [(ngModel)]="this.data.addressTwo" name="Address 2" placeholder="Ex: 1121 Oak St">
            </mat-form-field>
          </form>
        </div>

        <div class="field-format-small">
          <div fxLayout="row">
            <form>
              <mat-form-field appearance="outline" style="padding-right: 15px; padding-left: 0px">
                <mat-label class="drk-gry-text">State</mat-label>
                <input [(ngModel)]="this.data.state" name="State" matInput placeholder="Ex: UT">
              </mat-form-field>
            </form>

            <form>
              <mat-form-field appearance="outline" style="padding-right: 15px">
                <mat-label class="drk-gry-text">Zip</mat-label>
                <input [(ngModel)]="this.data.zip" name="Zip" matInput placeholder="Ex: 12345">
              </mat-form-field>
            </form>

            <form>
              <mat-form-field appearance="outline">
                <mat-label class="drk-gry-text">Country</mat-label>
                <input [(ngModel)]="this.data.country" name="Country" matInput placeholder="Ex: USA">
              </mat-form-field>
            </form>
          </div>
        </div>

        <div class="field-format">
          <form>
            <mat-form-field appearance="outline">
              <mat-label class="drk-gry-text">Email</mat-label>
              <input [(ngModel)]="this.data.email" name="Email" matInput placeholder="Ex: 1-999-999-9999">
            </mat-form-field>
          </form>
        </div>

      </div>
    </div>

  </ng-template>

  <div class="container-data-2" *ngIf="this.data.selected === ''; else altStyle" fxLayoutAlign="start center">
    <div fxLayoutAlign="space-evenly center" >
      <mat-form-field appearance="outline" style="padding-top: 10px">
        <mat-label class="drk-gry-text">Payment Method</mat-label>
        <mat-select class="drop-down" [(value)]="this.data.selected">
          <mat-option>None</mat-option>
          <mat-option value="Credit">Credit</mat-option>
          <mat-option value="PayPal">Paypal</mat-option>
          <mat-option value="Debit">Debit</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="this.data.selected === ''; else elseBlock">
      </div>

      <ng-template #elseBlock>
        <label class="drk-gry-text">{{this.data.selected}}</label>

        <div fxLayout="column" fxLayoutAlign="start center">
          <form>
            <mat-form-field appearance="fill">
              <input matInput placeholder="Credit Card Number">
            </mat-form-field>
          </form>
        </div>
      </ng-template>

<!--      <mat-form-field>-->
<!--        <mat-label>{{this.data.selected}}</mat-label>-->
<!--      </mat-form-field>-->
    </div>
  </div>

  <div class="submit-payment" fxLayoutAlign="center center">
    <button mat-flat-button>Cancel</button>
    <button mat-raised-button color="primary" (click)="openDialog()">Review Payment</button>
  </div>
</div>
